<footer class="footer">
  <a class="footer-logo" href="/">
    <img src="/images/lbp.jpg" alt="LacyBPottery"/>
  </a>
  <nav>
    <ul class="footer-nav nav-links">
      {% include nav-links.html %}
    </ul>
  </nav>
  <!--<h3>LacyBPottery</h3>-->
<div class="footer-social">
  <ul class="social-list">
        <li>
          <a href="https://www.facebook.com/lacybpottery/" class="social-link">
            <i class="fa fa-facebook-official"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/lacybpottery/?hl=en" class="social-link">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>

    </div>

</footer>
