<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101608003-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-101608003-1');
</script>


  {% if page.title %}
    <title>{{ page.title }} | LacyBPottery</title>
  {% else %}
    <title>LacyBPottery</title>
  {% endif %}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="Pottery and Ceramic Ware including Decorated Plates, Utensils, Platters, Serving Pieces, Angels, Sorority & Collegiate Gifts.">
  {% endif %}
  <link href="/favicon.ico" rel="icon">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
