<li><a href="/">Home</a></li>


<!--  <li><a href="/gallery">Gallery</a></li>  -->
<!--  <li><a href="/gallery">Gallery</a></li>  -->

<li><a href="/about-us">About Us</a></li>

<li class="dropdown">
  <a class="drop-trigger"href="/photos">Collections</a>

  <ul class="drop-menu">
    <li>Products</li>
      <li><a href="/photos/angels">Angels</a></li>
      <li><a href="/photos/candles">Candles</a></li>
      <li><a href="/photos/prayer-crosses">Prayer Crosses</a></li>
      <li><a href="/photos/makeup-brush-holders">Makeup Brush Holders</a></li>
      <li><a href="/photos/serving-pieces">Serving Pieces</a></li>
      <li><a href="/photos/coffee-mugs">Coffee Mugs</a></li>
      <li><a href="/photos/vases">Vases</a></li>
      <li><a href="/photos/decorated-plates">Decorated Plates</a></li>
      <li><a href="/photos/special-pieces">Special Pieces</a></li>
    </ul>
</li>

<li><a href="/contact-us">Contact Us</a></li>








<!--
Hide the Blog From nav-links

<li class="dropdown">
  <a class="drop-trigger"href="/blog">Blog</a>
  <ul class="drop-menu">
    <li>Recent Posts</li>
    {% for post in site.posts limit:5 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</li>
-->

<!--<li><a href="{{ site.posts.first.url }}">Newest Post</a></li>-->
